
body{
    margin: 0;
}
.box{
    border: 0;
    width: 100%;
    height: 4000px;
    background: linear-gradient(135deg, #3498db, #2c3e50);
}
.navbar{
    background-color: grey; color: white;
}
.list{
    margin-bottom: 0;
}
#heading{
    margin: 0;
}
li{
    list-style: none; display: inline ;
}
.navdiv{
    display: flex; align-items: center; justify-content: space-between;
}
li a{
   color: white; text-decoration: none ;
}
.logo a{
    color: white; text-decoration: none;
}
.backgif{
    width: auto;
    height: 1000px;
}